
 <div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">echarts3</h3>
        <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="@Url.Action("Index")">仪表盘</a></li>
            <li><a href="@Url.Action("AreaMap")">用户分布</a></li>
            <li><a href="@Url.Action("Jcs")">决策树</a></li>
            <li><a href="@Url.Action("Wjx")">五角星雷达图</a></li>
            <li><a href="@Url.Action("Line")">柱状图</a></li>
            <li><a href="@Url.Action("Pies")">多饼型图</a></li>
            <li><a href="@Url.Action("Jdt")">节点图</a></li>
            <li><a href="@Url.Action("Boxs")">盒子图</a></li>
            <li><a href="@Url.Action("MenthTime")">时间安排分布</a></li>
          


        </ul>
    </div><!-- /.box-body -->
</div><!-- /. box -->


