
 <div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">上传分类</h3>
        <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
            
            <li class="active"><a href="@Url.Action("CropperImage", "FilePicture")"><i class="fa fa-upload"></i> 图片剪切</a></li> 
            <li><a href="@Url.Action("UpadteImage", "FilePicture")"><i class="fa fa-upload"></i> 单个图片</a></li>
            <li><a href="@Url.Action("UpdateImages", "FilePicture")"><i class="fa fa-upload"></i> 多图片</a></li>
            <li><a href="@Url.Action("UpdateFile", "FilePicture")"><i class="fa  fa-file"></i> 单文件(原始)</a></li>
            <li><a href="@Url.Action("UpdateFiles", "FilePicture")"><i class="fa  fa-file"></i> 单文件上传</a></li>
            <li><a href="@Url.Action("UpdateFileModels", "FilePicture")"><i class="fa  fa-file"></i> 多文件上传</a></li>
        </ul>
    </div><!-- /.box-body -->
</div><!-- /. box -->

