
 <div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">百度地图</h3>
        <div class="box-tools">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="box-body no-padding">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="@Url.Action("Index")">逆地址解析</a></li>
            <li><a href="@Url.Action("MapConvert")">鼠标绘图工具</a></li>
            <li><a href="@Url.Action("MapAddressInfo")">地址反解析</a></li>
            <li><a href="@Url.Action("MapAddress")">批量地址解析</a></li>
            <li><a href="@Url.Action("MapPointName")">点击显示地名</a></li>
            <li><a href="@Url.Action("MapSearchData")">本地搜索的数据接口</a> </li>
            <li><a href="@Url.Action("MapLoad")">地图加载完毕做的事情</a></li>
            <li><a href="@Url.Action("MapGetPoint")">点击获取坐标点</a></li>
            <li><a href="@Url.Action("MapPointsInfo")">多坐标点信息</a></li>
            <li><a href="@Url.Action("MapPoints")">多坐标聚集图</a></li>
            <li><a href="@Url.Action("MapPointInfo")">坐标点信息</a></li>
            <li><a href="@Url.Action("MapHot")">热力图</a></li>
            <li><a href="@Url.Action("MapGovArea")">获取行政区域</a></li>
            <li><a href="@Url.Action("MapTool1")">添加工具条比例尺</a></li>
            <li><a href="@Url.Action("MapSearch")">可见区域搜索</a></li>
            <li><a href="@Url.Action("MapAreaEdit")">设置线面可以编辑</a></li>
            <li><a href="@Url.Action("MapIp")">IP定位</a></li>


        </ul>
    </div><!-- /.box-body -->
</div><!-- /. box -->


